.card {
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.2);
  transition: all 200ms;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  transform: rotate(2deg);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
